<div class="form-section section">
  <div class="top-section-thanks bg-top-light-green">
  </div>
  <div class="container-lg">
    <div class="row text-center">
      <a routerLink="/home"><img src="assets/img/logo.png" alt="" style="max-width: 200px; object-fit: cover; margin: 28px auto 50px auto;"></a>
    </div>
    <div class="thank-you-section">
      <h4 class="text-center exclamation text-main bg-light-green">
        <i class="fas fa-exclamation"></i>
      </h4>
      <h5 class="card-title text-center step-card-title mb-2">FINAL STEP</h5>
      <h4 class="title-1 text-center mb-2">{{username}}! Check Your Emails</h4>
      <p class="text-center will-receive p-text mb-5">
        You will now receive an email within 0 - 5 minutes from each of the companies you selected. <strong>Your registration is NOT complete</strong> until you follow the instructions in these emails.
      </p>
      <div class="row">
        <div class="col-md">
          <div class="img-container text-center mb-5">
            <img src="assets/steps-img/work-1.png" class="figure-img img-fluid rounded" alt="">
          </div>
        </div>
        <div class="col-md">
          <div class="d-flex p-text mb-3">
            <div style="min-width: 70px;">
              <div class="text-center exclamation text-main bg-light-green">
                1
              </div>
            </div>
             <p>
              It is really important to now check your emails and complete your sign up with ALL of the survey companies you have chosen, before registration closes (the more you sign up to the more you will earn).
             </p>
          </div>
          <div class="d-flex p-text mb-3">
            <div style="min-width: 70px;">
              <div class="text-center exclamation text-main bg-light-green">
                2
              </div>
            </div>
            <p>
              2. Once signed up to all survey panels, login and start taking surveys. The more you complete the more you will earn.
            </p>
          </div>

          <div class="d-flex p-text mb-3">
            <div style="min-width: 70px;">
              <div class="text-center exclamation text-main bg-light-green">
                3
              </div>
            </div>
            <p>
              3. Always check your promotions and spam folders in case the invites have filtered into there. You will also receive new email invites as and when registration is open to other market research companies.
            </p>
          </div>

        </div>
      </div>
      <h4 class="title-1 text-center mb-4">OPEN YOUR EMAIL</h4>

      <a target="_blank" class="open-mail-link" href="https://mail.google.com/mail/u/0/#inbox">
        <div class="open-mail-link-content shadow">
          <img src="assets/icons/gmail.png" class="mail-img" alt="">
          GMAIL
        </div>
      </a>

      <a target="_blank" class="open-mail-link" href="https://www.icloud.com/">

        <div class="open-mail-link-content shadow">
          <img src="assets/icons/applemail.png" class="mail-img" alt="">
          APPLE MAIL
        </div>
      </a>

      <a target="_blank" class="open-mail-link" href="https://outlook.live.com/owa/">
        <div class="open-mail-link-content shadow">
          <img src="assets/icons/outlook.png" class="mail-img" alt="">
          OUTLOOK
        </div>
      </a>

      <a target="_blank" class="open-mail-link" href="https://login.yahoo.com/?.src=ym&lang=en-US&done=https%3A%2F%2Fmail.yahoo.com%2F">
        <div class="open-mail-link-content shadow">
          <img src="assets/icons/yahoomail.png" class="mail-img" alt="">
          YAHOO MAIL
        </div>
      </a>
    </div>
  </div>
</div>




<div class="footer bg-main text-center text-light pt-5 pb-3">
  <div class="social-box">
    <a target="_blank" href="https://www.linkedin.com/company/qmediax/">
      <label class="social-item shadow" for="linkedin"><i class="fab fa-linkedin-in"></i></label>
    </a>

    <a target="_blank" href="https://www.facebook.com/QualityMediaExchange">
      <label class="social-item shadow" for="fb"><i class="fab fa-facebook-f"></i></label>
    </a>

    <a target="_blank" href="https://qmediax.com/qmediax-presentation/">
      <label class="social-item shadow" for="insta"><i class="fab fa-instagram"></i></label>
    </a>
  </div>

  <div class="terms-links">
    <a class="terms-link-item" href="#">Terms & Conditions</a>    |    <a class="terms-link-item" href="#">Privacy Policy</a>
  </div>
  <p class="copy-right">Copyright © 2022 All Rights Reserved. QmediaX Pty Ltd</p>
</div>
